<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div>
    <form name="example" method="post" action="login/">
        {% csrf_token %}
    </form>

</div>
</body>
</html>