<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home 1</title>
</head>
<body>
    <label>{{ username }}
        <br/>
        {{ name }}
    </label>
    <br/>
    <a href="/login_page/">Login Page</a>
    <br/>
    <a href="/home2/">Home 2</a>
</body>
</html>