<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body style="font-family: 'Assistant'">
<div>
    <form name="example" method="post" action="/login/">
        {% csrf_token %}
        <div>
            Username: <input type="text" name="username"/>
            <br/>
            Password: <input type="password" name="password"/>
            <br/>
            <input type="submit" value="Submit">
            <br/>
            <a href="/register_page/">Register Page</a>
        </div>
    </form>
</div>
</body>
</html>