<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body style="font-family: 'Assistant'">
<div>
    <form name="example" method="post" action="/try_register/"> {% csrf_token %}
        <div>
            Username: <input type="text" name="username"/>
            <br/>
            Full Name: <input type="text" name="name"/>
            <br/>
            Password: <input type="password" name="password"/>
            <br/>
            Insert password again: <input type="password" name="    password2"/>
            <br/>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>